<div id="secondary" class="secondary inner-box">
   <div class="content-container">
      <div class="widget-areas flex-row huge-gutter">
         <div id="widget-area-1" class="widget-area flex-item" role="complementary">
            <aside id="text-2" class="widget widget_text">
               <h3 class="widget-title">About Blog</h3>
               <div class="textwidget">
                  <p>Welcome to my blog! I'm Humphrey Haj. I am a writer,poet,songwriter and sketchist. Despite being disabled, I like to travel, adventures,meeting people and really enjoy photography.</p>
                  <p>I created this blog to tell you stories in form of poetry from lives around me and society happenings, share my impressions and views of things I've learnt. Along the way I'll also highlight impressions of travels and the best pictures I took. Keep an eye out!</p>
               </div>
            </aside>
         </div>
         <div id="widget-area-2" class="widget-area flex-item" role="complementary">
            <aside id="wildbook-widget-recent-posts-2" class="widget wildbook-widget-recent-posts">
               <h3 class="widget-title">Featured Posts</h3>
               <ul>
                  
                  {% for each in object_list %}
                     
                     {% if each.is_featured %}
                        
                        <li class="widget-post clearfix  has-post-thumbnail">
                           <div class="post-thumbnail"> <a href="{{ each.get_absolute_url }}"><img width="150" height="150" src="{{ each.img.url }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy"</a></div>
                           <header class="widget-post-content"> <a href="{{ each.get_absolute_url }}">Weekend In A Mountain Valley</a> <span class="post-date">August 8, 2019</span></header>
                        </li>

                     {% endif %}
           
                  {% endfor %}
               </ul>
            </aside>
         </div>
      </div>
   </div>
</div>