<nav id="top-nav" class="top-nav right-side-navigation ">
    <div class="top-nav-header">
        <a href="#" id="top-nav-toggle" class="top-nav-toggle" title="Menu" data-close-text="Close">
            <span class="top-nav-toggle-inner">
                <span class="top-nav-toggle-text">Menu</span> 
                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 768 768">
                    <path d="M169.376 310.624l192 192c12.512 12.512 32.768 12.512 45.248 0l192-192c12.512-12.512 12.512-32.768 0-45.248s-32.768-12.512-45.248 0l-169.376 169.376-169.376-169.376c-12.512-12.512-32.768-12.512-45.248 0s-12.512 32.768 0 45.248z"></path>
                </svg>
            </span>
        </a>
    </div>
    <ul id="menu-primary-navigation-2" class="nav-menu">
        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor menu-item-has-children menu-item-20">
            <a href="/" aria-current="page"><span>Home</span></a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="#"><span>Featured</span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-846">
            <a href="#"><span>Categories</span></a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="#"><span>Travel</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="#"><span>Photography</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="#"><span>Romantic</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="#"><span>Lifestyle</span></a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-697"><a href="/"><span>Author Page</span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="#"><span>Contact</span></a></li>
     </ul>
</nav>