<nav id="top-nav" class="top-nav right-side-navigation ">
    <div class="top-nav-header">
        <a href="#" id="top-nav-toggle" class="top-nav-toggle" title="Menu" data-close-text="Close">
            <span class="top-nav-toggle-inner">
                <span class="top-nav-toggle-text">Menu</span> 
                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 768 768">
                    <path d="M169.376 310.624l192 192c12.512 12.512 32.768 12.512 45.248 0l192-192c12.512-12.512 12.512-32.768 0-45.248s-32.768-12.512-45.248 0l-169.376 169.376-169.376-169.376c-12.512-12.512-32.768-12.512-45.248 0s-12.512 32.768 0 45.248z"></path>
                </svg>
            </span>
        </a>
    </div>
    <ul id="menu-primary-navigation-2" class="nav-menu">
        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor menu-item-has-children menu-item-20">
            <a href="http://nordthemes.com/wild-book-demo/" aria-current="page"><span>Layouts</span></a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-405">
                    <a href="#"><span>Blog Layouts</span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-889"><a href="http://nordthemes.com/wild-book-demo/?blog_layout=masonry-grid"><span>Masonry</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-406"><a href="http://nordthemes.com/wild-book-demo/?blog_layout=grid"><span>Grid</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-407"><a href="http://nordthemes.com/wild-book-demo/?blog_layout=simple-list"><span>List</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-408"><a href="http://nordthemes.com/wild-book-demo/?display_slider=1"><span>Blog with slider</span></a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-565">
                    <a href="#"><span>Sidebar Layouts</span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-566"><a href="http://nordthemes.com/wild-book-demo/?sidebar_layout=layout-3"><span>Sidebar 2</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-567"><a href="http://nordthemes.com/wild-book-demo/?sidebar_layout=layout-4"><span>Sidebar 3</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-955"><a href="http://nordthemes.com/wild-book-demo/?sidebar_layout=layout-5"><span>Sidebar 4</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-568"><a href="http://nordthemes.com/wild-book-demo/?sidebar_layout=layout-2"><span>Sidebar 5</span></a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-691">
                    <a href="#"><span>Sidebar size</span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-694"><a href="http://nordthemes.com/wild-book-demo/?sidebar_width=small"><span>Small (30%)</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-693"><a href="http://nordthemes.com/wild-book-demo/?sidebar_width=normal"><span>Normal (35%)</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-692"><a href="http://nordthemes.com/wild-book-demo/?sidebar_width=medium"><span>Medium (40%, Default)</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-695"><a href="http://nordthemes.com/wild-book-demo/?sidebar_width=large"><span>Large (45%)</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-696"><a href="http://nordthemes.com/wild-book-demo/?sidebar_width=huge"><span>Huge (50%)</span></a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-409">
                    <a href="#"><span>Sidebar Position</span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-410"><a href="http://nordthemes.com/wild-book-demo/?sidebar_position=right"><span>Right</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-411"><a href="http://nordthemes.com/wild-book-demo/" aria-current="page"><span>Left</span></a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-404"><a target="_blank" rel="noopener" href="http://nordthemes.com/wildbook-winter/"><span>Winter Mode</span></a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-846">
            <a href="http://nordthemes.com/wild-book-demo/portfolio-gallery-masonry/"><span>Portfolio</span></a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="http://nordthemes.com/wild-book-demo/portfolio-gallery-masonry/"><span>Masonry 2 columns</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="http://nordthemes.com/wild-book-demo/portfolio-gallery-masonry-3/"><span>Masonry 3 columns</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="http://nordthemes.com/wild-book-demo/portfolio-gallery/"><span>Grid 2 columns</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="http://nordthemes.com/wild-book-demo/portfolio-gallery-3-columns/"><span>Grid 3 columns</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="http://nordthemes.com/wild-book-demo/portfolio-gallery-square-thumbnails/"><span>Grid with square thumbnails</span></a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-697"><a href="http://nordthemes.com/wild-book-demo/elements-blocks/"><span>Elements &amp; Blocks</span></a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-129">
            <a href="#"><span>Features</span></a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274"><a href="http://nordthemes.com/wild-book-demo/theme-options/"><span>Theme Options</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a href="http://nordthemes.com/wild-book-demo/languages/"><span>Languages</span></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-201"><a target="_blank" rel="noopener" href="http://nordthemes.com/wp-content/Documentation/documentation.html"><span>Online Documentation</span></a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-130">
            <a href="#"><span>Pages</span></a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-199"><a href="http://nordthemes.com/wild-book-demo/full-width-page/"><span>Full Width Page</span></a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-216"><a href="http://nordthemes.com/wild-book-demo/category/inspiration/"><span>Category</span></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-215"><a href="http://nordthemes.com/wild-book-demo/author/admin/"><span>Author Page</span></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-218"><a href="http://nordthemes.com/wild-book-demo/notfound"><span>404 page</span></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-219"><a href="http://nordthemes.com/wild-book-demo/?s=love"><span>Search Result</span></a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="http://nordthemes.com/wild-book-demo/contact/"><span>Contact</span></a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-973"><a target="_blank" rel="noopener" href="https://themeforest.net/item/wild-book-vintage-elegant-stylish-wordpress-personal-blog-theme-multilingual-rtl-support/10962274"><span>Buy</span></a></li>
    </ul>
</nav>