{% load static %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}" id="jquery-core-js"></script>

<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>

<script src="{% static 'js/wp-emoji-release.min.js' %}" type="text/javascript" defer=""></script>

<script type="text/javascript" id="wp-polyfill-js-after" src="{% static 'js/polyfill.js' %}"></script>

<script type = "text/javascript" id = "contact-form-7-js-extra" src="{% static 'js/form-7.js' %}"></script>

<script type = "text/javascript" id = "wild-book-functions-js-extra" src="{% static 'js/funcs.js' %}"></script>

<script type = "text/javascript" id = "slb_footer" src="{% static 'js/slb_footer.js' %}"></script>

<script type = "text/javascript" id = "slb_context" src="{% static 'js/slb_context.js' %}"></script>



<!-- <script >
    (function() {
        function maybePrefixUrlField() {
            if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                this.value = "http://" + this.value;
            }
        }

        var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
        if (urlFields) {
            for (var j = 0; j < urlFields.length; j++) {
                urlFields[j].addEventListener('blur', maybePrefixUrlField);
            }
        }
    })();
</script> -->